<form method="POST">
    <div class="congrat">
        Вы прошли квест!
    </div>
    <div class = map>
        Здесь будет карта пройденного маршрута
    </div>
    <label id="mark">Ваша оценка квесту:</label>
    <div id="mark">
        <input name="mark" type="radio" value="1">
        <input name="mark" type="radio" value="2">
        <input name="mark" type="radio" value="3">
        <input name="mark" type="radio" value="4">
        <input name="mark" type="radio" value="5">
    </div>
    <label>Ваш отзыв:</label>
    <textarea id="recension"></textarea>
    <input id="end_recension" type="submit" value="Отправить">
</form>