<form method="POST">
    <div class="congrat">
        Вы прошли квест!
    </div>
    <div class = map>
        Здесь будет карта пройденного маршрута
    </div>
    <label id="mark">Ваша оценка квесту:</label>
    <div id="mark">
        <input name="mark" type="radio" value="1"><label>1</label>
        <input name="mark" type="radio" value="2"><label>2</label>
        <input name="mark" type="radio" value="3"><label>3</label>
        <input name="mark" type="radio" value="4"><label>4</label>
        <input name="mark" type="radio" value="5"><label>5</label>
    </div>
    <label>Ваш отзыв:</label>
    <textarea name="recension"></textarea>
    <input id="end_recension" type="submit" value="Отправить">
</form>