<h1><%-title %></h1>
  <p>Добро пожаловать в <%-title %></p>
  <div class="intro">
    Наш генератор - это новое слово в досуге для тех, кто любит активный отдых!
    Благодаря нашим квестам вы сможете лучше узнать свой город, погуляете по многим интересным местам и разгадаете
    много интересных загадок. Более того, ни один квест не будет похож на другой, 
    ведь маршрут каждый раз создается заново случайным образом по особому алгоритму.
  </div>
  <form method="POST" id="start">
  <input type="submit" value="Начать"/>
  </form>