<% include header %>
  <div id="mainblock">

  <% if (state==='hello') { %>
    <% include hello %>
  <% } %>
  <% if (state==='generate') { %>
    <% include generate %>
  <% } %>
  <% if (state==='play') { %>
    <% include play %>
  <% } %> 
  <% if (state==='feedback') { %>
    <% include feedback %>
  <% } %> 
  <% if (state==='finish') { %>
    <% include finish %>
  <% } %>       
  </div>

<% include footer %>
