<form method="POST" id="task">
    <div class="taskno">Задание №<%-current %> из <%-amount %></div>
    <div class="puzzle"><%-place.puzzle %></div>
    <input class="answer" name="answer">
    <input class="btn" type="submit" value="Отправить">
</form>